<h1 class="blue-text">

    The Snack Cabinet </h1>
<h1 class="blue-text">{{listCtrl.line}}</h1>

<div class="row">
    <div class="clearfix">
        <div class="form">
            <form class="form-inline">
                <div class="form-group">
                    <!-- name -->
                    <!-- <label class="control-label" for="name">Name</label> -->
                    <input type="text" ng-model="listCtrl.formData.name" class="form-control" id="name" placeholder="Name">
                    <!-- image  -->
                    <br>
                    <!-- <label class="control-label" for="imageUrl">Image</label> -->
                    <input type="text" ng-model="listCtrl.formData.imgUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                    <!-- description -->
                    <br>
                    <!-- <label class="control-label" for="description">Description</label> -->
                    <input type="text" ng-model="listCtrl.formData.description" class="form-control" id="description" placeholder="Description">
                </div>
                <button type="button" ng-click="listCtrl.insert()" class="btn btn-default">Send</button>

            </form>
            <pre>{{listCtrl.allEntries | json}}</pre>
        </div>
    </div>




    <div class="wrapper container-color">
        <div class="image-spacing">
            <div ng-repeat="submission in listCtrl.allEntries " class="image-tile">
                <!-- <div ng-repeat="pic in listCtrl.flick" class="image-tile"> -->
                <!-- <img ng-src="{{submission.imgUrl}}" alt="Title, May 2016" /> -->
                <div>
                    <a ui-sref="app.phoodie.detail({id: submission._id})">
                        <img ng-src="{{submission.imgUrl}}" />
                    </a>
                    <!-- end of image -->

                    <!-- <div class="col-md-1"> -->
                    <!-- button starts -->
                    <a class="btn btn-danger btn-xs" ng-click="listCtrl.delete(submission._id)" uib-popover="Delete" popover-trigger="'mouseenter'"
                        href="" class="btn" data-toggle="panel-collapse">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="btn btn-default btn-xs" ui-sref="app.phoodie.detail({id: submission._id})" uib-popover="Edit" popover-trigger="'mouseenter'"
                        href="" class="btn" data-toggle="panel-collapse">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>
                <!-- <img ng-src="https://farm{{pic.farm}}.staticflickr.com/{{pic.server}}/{{pic.id}}_{{pic.secret}}_m.jpg" alt="Title, May 2016"
                        /> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>